@font-face {
  font-family: 'Roboto-Black-grid';
  src: url(../fonts/roboto/Roboto-Black.ttf) format("truetype");
}

@font-face {
  font-family: 'Roboto-BlackItalic-grid';
  src: url(../fonts/roboto/Roboto-BlackItalic.ttf) format("truetype");
}

@font-face {
  font-family: 'Roboto-Bold-grid';
  src: url(../fonts/roboto/Roboto-Bold.ttf) format("truetype");
}

@font-face {
  font-family: 'Roboto-BoldItalic-grid';
  src: url(../fonts/roboto/Roboto-BoldItalic.ttf) format("truetype");
}

@font-face {
  font-family: 'RobotoCondensed-Bold-grid';
  src: url(../fonts/roboto/RobotoCondensed-Bold.ttf) format("truetype");
}

@font-face {
  font-family: 'RobotoCondensed-BoldItalic-grid';
  src: url(../fonts/roboto/RobotoCondensed-BoldItalic.ttf) format("truetype");
}

@font-face {
  font-family: 'RobotoCondensed-Italic-grid';
  src: url(../fonts/roboto/RobotoCondensed-Italic.ttf) format("truetype");
}

@font-face {
  font-family: 'RobotoCondensed-Light-grid';
  src: url(../fonts/roboto/RobotoCondensed-Light.ttf) format("truetype");
}

@font-face {
  font-family: 'RobotoCondensed-LightItalic-grid';
  src: url(../fonts/roboto/RobotoCondensed-LightItalic.ttf) format("truetype");
}

@font-face {
  font-family: 'RobotoCondensed-Regular-grid';
  src: url(../fonts/roboto/RobotoCondensed-Regular.ttf) format("truetype");
}

@font-face {
  font-family: 'Roboto-Italic-grid';
  src: url(../fonts/roboto/Roboto-Italic.ttf) format("truetype");
}

@font-face {
  font-family: 'Roboto-Light-grid';
  src: url(../fonts/roboto/Roboto-Light.ttf) format("truetype");
}

@font-face {
  font-family: 'Roboto-LightItalic-grid';
  src: url(../fonts/roboto/Roboto-LightItalic.ttf) format("truetype");
}

@font-face {
  font-family: 'Roboto-Medium-grid';
  src: url(../fonts/roboto/Roboto-Medium.ttf) format("truetype");
}

@font-face {
  font-family: 'Roboto-MediumItalic-grid';
  src: url(../fonts/roboto/Roboto-MediumItalic.ttf) format("truetype");
}

@font-face {
  font-family: 'Roboto-Regular-grid';
  src: url(../fonts/roboto/Roboto-Regular.ttf) format("truetype");
}

@font-face {
  font-family: 'Roboto-Thin-grid';
  src: url(../fonts/roboto/Roboto-Thin.ttf) format("truetype");
}

@font-face {
  font-family: 'Roboto-ThinItalic-grid';
  src: url(../fonts/roboto/Roboto-ThinItalic.ttf) format("truetype");
}

@font-face {
  font-family: 'Fontawesome-webfont-grid';
  src: url(../fonts/font-awesome/fontawesome-webfont.ttf) format("truetype"), url(../fonts/font-awesome/fontawesome-webfont.woff) format("woff"), url(../fonts/font-awesome/fontawesome-webfont.eot) format("OpenType");
}

@font-face {
  font-family: 'FontAwesome-grid';
  src: url(../fonts/font-awesome/FontAwesome.otf) format("OpenType");
}

.project-card::after, .timeline-card::after, .nav-menu__item-1, .nav-menu__item-2, .nav-menu__item-3, .nav-menu__item-4, .nav-menu__item-5, .menu__left-item, .menu__right-item, .nav-menu, .nav-menu__item-base {
  display: block;
  position: absolute;
}

.card__title, .card-list, .card-list__item, .card__text {
  margin: 0;
  padding: 0;
}

.project-card::after, .timeline-card::after {
  content: '';
  left: 0%;
  bottom: 0%;
  width: 142%;
  height: 0;
  transform-origin: 0 0;
  transform: rotate(-45deg);
  border-top: 1px solid white;
}

.nav-menu__item-1, .nav-menu__item-2, .nav-menu__item-3, .nav-menu__item-4, .nav-menu__item-5 {
  padding-top: 32px;
  text-transform: uppercase;
  font-family: "RobotoCondensed-Regular-grid";
  font-size: 14px;
  color: #fff;
  background: #f8c255;
  width: 80px;
  height: 80px;
  text-decoration: none;
  opacity: 0;
  visibility: hidden;
  text-align: center;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.header-section__content {
  display: grid;
  grid-template-columns: 165fr 170fr 80fr minmax(280px, 550fr) 80fr minmax(330px, 465fr);
  background: #E9EAE2;
}

.logo {
  margin-top: 50px;
  width: 100%;
  max-width: 170px;
  padding: 0 6px 0 4px;
  grid-column: 2;
}

.logo__subtitle {
  text-transform: uppercase;
  max-width: 50%;
  margin: 0;
  font-family: "RobotoCondensed-Regular-grid";
  color: #393d3c;
  font-size: 18px;
  line-height: 1;
  align-self: center;
}

.logo__image {
  display: block;
  max-width: 160px;
  width: 100%;
  height: auto;
}

.logo__icon {
  display: block;
  width: 26px;
  height: 22px;
  margin: 0;
  padding: 0;
  transition: 0.3s;
}

.logo__icon-facebook {
  background: url(../img/header-section/logo/social-icons/facebook-icon.png) center center no-repeat;
}

.logo__icon-facebook:hover {
  transform: translateY(-10%);
}

.logo__icon-twitter {
  background: url(../img/header-section/logo/social-icons/twitter-icon.png) center center no-repeat;
}

.logo__icon-twitter:hover {
  transform: translateY(-10%);
}

.logo__icon-linkedin {
  background: url(../img/header-section/logo/social-icons/linkedin-icon.png) center center no-repeat;
}

.logo__icon-linkedin:hover {
  transform: translateY(-10%);
}

.logo__icon-gplus {
  background: url(../img/header-section/logo/social-icons/gp-icon.png) center center no-repeat;
}

.logo__icon-gplus:hover {
  transform: translateY(-10%);
}

.icons-wrapper {
  margin: 63px 0 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.chairs-img {
  margin-top: 50px;
  display: block;
  width: 100%;
  height: auto;
  grid-column: 4;
}

.menu {
  position: relative;
  display: block;
  width: 100%;
  background: #7acec3;
  grid-column: 6;
}

.menu__left-item {
  color: #fff;
  bottom: 34%;
  left: 11%;
  max-width: 21%;
  max-height: 30%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "RobotoCondensed-Regular-grid";
  color: #fff;
  font-size: 13px;
}

.menu__right-item {
  color: #fff;
  left: 28%;
  top: 75%;
  max-width: 31%;
  max-height: 20%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "RobotoCondensed-Regular-grid";
  color: #fff;
  font-size: 13px;
}

.nav-menu {
  cursor: pointer;
  right: 31.5%;
  top: 10%;
  width: 80px;
  height: 80px;
}

.nav-menu__item-base {
  width: 100%;
  height: 100%;
}

.nav-menu__item-1 {
  left: -87%;
  transform: translateX(90%);
  transition: 1s;
}

.nav-menu__item-1:hover {
  background-color: #f6ad1a;
}

.nav-menu:hover .nav-menu__item-1 {
  transform: translateX(-11%);
  opacity: 1;
  visibility: visible;
}

.nav-menu__item-2 {
  left: -170%;
  transform: translateX(180%);
  transition: 1s;
}

.nav-menu__item-2:hover {
  background-color: #f6ad1a;
}

.nav-menu:hover .nav-menu__item-2 {
  transform: translateX(-26%);
  opacity: 1;
  visibility: visible;
}

.nav-menu__item-3 {
  left: -255%;
  transform: translateX(270%);
  transition: 1s;
}

.nav-menu__item-3:hover {
  background-color: #f6ad1a;
}

.nav-menu:hover .nav-menu__item-3 {
  transform: translateX(-39%);
  opacity: 1;
  visibility: visible;
}

.nav-menu__item-4 {
  left: -340%;
  transform: translateX(360%);
  transition: 1s;
}

.nav-menu__item-4:hover {
  background-color: #f6ad1a;
}

.nav-menu:hover .nav-menu__item-4 {
  transform: translateX(-52%);
  opacity: 1;
  visibility: visible;
}

.nav-menu__item-5 {
  left: -425%;
  transform: translateX(450%);
  transition: 1s;
}

.nav-menu__item-5:hover {
  background-color: #f6ad1a;
}

.nav-menu:hover .nav-menu__item-5 {
  transform: translateX(-65%);
  opacity: 1;
  visibility: visible;
}

.projects-section {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1.3fr;
  grid-template-columns: minmax(230px, 300fr) 165fr 270fr 300fr minmax(300px, 465fr);
  grid-template-areas: 'project project fondue fondue potter' 'project project fondue fondue tabano' 'louis number number number tabano' 'louis number number number fiji' 'sesann sesann sesann alessi timeline';
}

.card {
  min-height: 33vh;
  text-transform: uppercase;
  position: relative;
  font-family: "RobotoCondensed-Light-grid";
  color: #333333;
  font-size: 12px;
}

.card__title {
  font-size: 24px;
  color: #333333;
}

.card-list {
  list-style: none;
}

.card-list__item-bold {
  font-weight: bold;
}

.card-list__item-link {
  display: block;
  font-size: 13px;
  text-decoration: none;
  color: #fefefe;
  font-family: "RobotoCondensed-Regular-grid";
  transition: transform 0.5s;
}

.card-list__item-link-first {
  color: #000;
}

.card-list__item-link:hover {
  transform: scale(1.05, 1.2);
}

.card__button {
  font-weight: bold;
  display: block;
  text-decoration: none;
  font-size: 18px;
  margin: 0;
  padding: 7px;
  color: #333333;
}

.card__liked {
  display: block;
}

.project-card {
  overflow: hidden;
  grid-area: project;
  background: #ebb240;
  font-family: "RobotoCondensed-Regular-grid";
}

.project-card__list {
  position: absolute;
  top: 32%;
  left: 35%;
}

.project-card__title {
  position: absolute;
  right: 10%;
  bottom: 33%;
  color: #fefefe;
  font-size: 48px;
  font-weight: normal;
}

.project-card::after {
  overflow: hidden;
}

.fondue-card {
  grid-area: fondue;
  background: #fefefe url(../img/project-section/fondue.png) no-repeat right center;
  background-size: contain;
}

.fondue-card__title {
  position: absolute;
  top: 18%;
  left: 17%;
}

.fondue-card__item-wrapper {
  position: absolute;
  top: 25%;
  left: 17%;
}

.fondue-card__button {
  position: absolute;
  top: 50%;
  left: 23%;
}

.potter-card {
  grid-area: potter;
  background: #dfe0d9 url(../img/project-section/potter.png) no-repeat right center;
  background-size: contain;
}

.potter-card__title {
  position: absolute;
  top: 13%;
  left: 8%;
}

.potter-card__text {
  max-width: 34%;
  max-height: 34%;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  position: absolute;
  top: 28%;
  left: 8%;
}

.potter-card__button {
  position: absolute;
  top: 58%;
  left: 8%;
}

.tabano-card {
  grid-area: tabano;
  background: #f7f7f3 url(../img/project-section/tabano.png) 60% 10% no-repeat;
  background-size: 60%;
}

.tabano-card__title {
  position: absolute;
  top: 73%;
  left: 13%;
}

.tabano-card__list {
  position: absolute;
  top: 80%;
  left: 13%;
}

.tabano-card__button {
  position: absolute;
  top: 80%;
  left: 56%;
}

.louis-card {
  grid-area: louis;
  background: url(../img/project-section/louis.jpg) no-repeat center top;
  background-size: cover;
  color: #fefefe;
}

.louis-card__title {
  color: #fefefe;
  font-weight: normal;
  position: absolute;
  top: 8.6%;
  left: 10%;
}

.louis-card__list {
  position: absolute;
  top: 16.7%;
  left: 10%;
}

.louis-card__button {
  color: #fefefe;
  font-weight: normal;
  position: absolute;
  top: 34.8%;
  left: 10%;
}

.un-card {
  grid-area: number;
  background: #eaeaea url(../img/project-section/number.png) 30% center no-repeat;
  background-size: contain;
}

.un-card__title {
  position: absolute;
  top: 19.3%;
  left: 48%;
}

.un-card__list {
  position: absolute;
  top: 27%;
  left: 48%;
}

.un-card__button {
  position: absolute;
  top: 19.3%;
  left: 28%;
}

.fiji-card {
  grid-area: fiji;
  background: #fff url(../img/project-section/fiji.png) left center no-repeat;
  background-size: contain;
}

.fiji-card__title {
  position: absolute;
  top: 19.3%;
  left: 53%;
}

.fiji-card__list {
  position: absolute;
  top: 34%;
  left: 53%;
}

.fiji-card__button {
  position: absolute;
  top: 58.3%;
  left: 53%;
}

.sesann-card {
  grid-area: sesann;
  background: #fcfcfc url(../img/project-section/sesann.png) center 20% no-repeat;
  background-size: 55%;
}

.sesann-card__title {
  position: absolute;
  top: 66%;
  left: 20%;
}

.sesann-card__list {
  position: absolute;
  top: 77%;
  left: 20%;
}

.sesann-card__button {
  position: absolute;
  top: 77%;
  left: 53%;
}

.alessi-card {
  grid-area: alessi;
  background: url(../img/project-section/alessi.jpg) 0% 50% no-repeat;
  background-size: cover;
}

.alessi-card__title {
  position: absolute;
  top: 26.6%;
  left: 53%;
}

.alessi-card__list {
  position: absolute;
  top: 40%;
  left: 53%;
}

.alessi-card__button {
  position: absolute;
  top: 60%;
  left: 53%;
}

.timeline-card {
  background: #ebb240;
  grid-area: timeline;
  display: block;
  overflow: hidden;
}

.timeline-card__list {
  position: absolute;
  top: 20%;
  left: 12%;
}

.timeline-card::after {
  overflow: hidden;
}

.studio-section {
  display: grid;
  grid-template-rows: minmax(1fr, 465px) 1fr 1fr;
  grid-row-gap: 65px;
  grid-template-columns: minmax(200px, 465fr) 300fr 200fr 100fr 300fr;
  grid-template-areas: 'studio article article awards awards' 'staff starck bellini bellini patricia' 'staff starck bellini bellini patricia';
  padding: 0 165px 0 0;
  background: #e9eae2;
}

.studio-card {
  grid-area: studio;
  background: #ff9b6d;
  font-family: "RobotoCondensed-Regular-grid";
}

.studio-card__title {
  position: absolute;
  right: 10%;
  bottom: 33%;
  color: #fefefe;
  font-size: 48px;
  font-weight: normal;
  transition: transform 0.7s;
}

.article-card {
  grid-area: article;
  font-size: 18px;
  padding: 95px 30px 70px 22%;
}

.article-card__cite-bold {
  font-family: "RobotoCondensed-BoldItalic-grid";
}

.article-card__cite {
  font-family: "RobotoCondensed-Light-grid";
}

.awards-card {
  grid-area: awards;
  padding-top: 95px;
  text-transform: uppercase;
}

.awards-card__image {
  display: block;
  max-width: 370px;
  width: 100%;
}

.awards-card__title {
  font-family: "RobotoCondensed-Bold-grid";
  font-size: 14px;
  font-weight: normal;
}

.awards-card__list-wrap {
  display: flex;
}

.awards-card__list {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: "RobotoCondensed-Regular-grid";
  font-size: 12px;
}

.awards-card__list:nth-child(1) {
  margin-right: 30px;
}

.staff-card {
  grid-area: staff;
  padding: 60px 30px 80px 35%;
  font-size: 14px;
}

.staff-card__title {
  font-family: "RobotoCondensed-Regular-grid";
  text-transform: uppercase;
}

.staff-card__article {
  font-family: "RobotoCondensed-Light-grid";
}

.personal-card {
  display: block;
}

.personal-card__image {
  display: block;
  max-width: 270px;
  width: 100%;
  height: auto;
}

.personal-card__name {
  margin-bottom: 1px;
  font-family: "RobotoCondensed-Bold-grid";
  font-size: 13px;
  font-weight: normal;
}

.personal-card__position {
  margin-top: 1px;
  font-family: "RobotoCondensed-Regular-grid";
  font-size: 12px;
}

.personal-card__socials {
  display: flex;
  max-width: 270px;
  justify-content: flex-end;
  align-items: center;
}

.socials__cv {
  margin-right: auto;
  font-size: 22px;
  color: #fd5000;
  font-family: "RobotoCondensed-Regular-grid";
}

.socials-ico {
  display: block;
  width: 14px;
  height: 14px;
  margin-top: 10px;
}

.facebook {
  background: url(../img/studio-section/social-icons/facebook-icon.png) center center no-repeat;
  background-size: contain;
}

.twitter {
  background: url(../img/studio-section/social-icons/twitter-icon.png) center center no-repeat;
  background-size: contain;
  margin-left: 15px;
}

.linkedin {
  background: url(../img/studio-section/social-icons/linkedin-icon.png) center center no-repeat;
  background-size: contain;
  margin-left: 15px;
}

.google-pl {
  background: url(../img/studio-section/social-icons/gp-icon.png) center center no-repeat;
  background-size: contain;
  margin-left: 15px;
}

.starck-card {
  grid-area: starck;
}

.bellini-card {
  grid-area: bellini;
}

.patricia-card {
  grid-area: patricia;
}

@media screen and (max-width: 1200px) {
  .un-card__title {
    position: absolute;
    top: 11.3%;
    left: 68%;
  }
  .un-card__list {
    position: absolute;
    top: 27%;
    left: 68%;
  }
  .un-card__button {
    position: absolute;
    top: 11.3%;
    left: 33%;
  }
  .tabano-card {
    background-size: 50%;
  }
  .tabano-card__title {
    position: absolute;
    top: 53%;
    left: 3%;
  }
  .tabano-card__list {
    position: absolute;
    top: 70%;
    left: 3%;
  }
  .potter-card {
    background-size: 50%;
  }
  .potter-card__title {
    position: absolute;
    top: 3%;
    left: 8%;
  }
  .potter-card__text {
    position: absolute;
    top: 20%;
    left: 8%;
  }
  .potter-card__button {
    position: absolute;
    top: 55%;
    left: 8%;
  }
  .project-card__list {
    position: absolute;
    top: 15%;
    left: 20%;
  }
  .project-card__title {
    right: 10%;
    bottom: 13%;
  }
  .fondue-card__title {
    position: absolute;
    top: 10%;
    left: 17%;
  }
  .alessi-card__title {
    position: absolute;
    top: 10%;
    left: 23%;
  }
  .alessi-card__list {
    position: absolute;
    top: 30%;
    left: 23%;
  }
  .alessi-card__button {
    position: absolute;
    top: 60%;
    left: 23%;
  }
  .sesann-card__title {
    position: absolute;
    top: 26%;
    left: 3%;
  }
  .sesann-card__list {
    position: absolute;
    top: 50%;
    left: 3%;
  }
  .sesann-card__button {
    position: absolute;
    top: 30%;
    left: 78%;
  }
  .studio-card__title {
    transform: rotate(90deg);
  }
  .staff-card {
    padding-left: 7%;
    padding-top: 5%;
  }
}

@media screen and (max-width: 940px) {
  .projects-section {
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'project fondue' 'louis number' 'potter tabano' 'alessi fiji' 'sesann timeline';
  }
  .card {
    min-height: 33vh;
  }
  .project-card__list {
    position: absolute;
    top: 15%;
    left: 20%;
  }
  .project-card__title {
    right: 10%;
    bottom: 13%;
  }
  .fondue-card__title {
    position: absolute;
    top: 13%;
    left: 17%;
  }
  .fondue-card__item-wrapper {
    position: absolute;
    top: 30%;
    left: 17%;
  }
  .fondue-card__button {
    position: absolute;
    top: 60%;
    left: 23%;
  }
  .potter-card {
    background-size: 50%;
  }
  .potter-card__title {
    position: absolute;
    top: 13%;
    left: 8%;
  }
  .potter-card__text {
    position: absolute;
    top: 28%;
    left: 8%;
  }
  .potter-card__button {
    position: absolute;
    top: 65%;
    left: 8%;
  }
  .tabano-card {
    background-size: 50%;
  }
  .tabano-card__title {
    position: absolute;
    top: 33%;
    left: 7%;
  }
  .tabano-card__list {
    position: absolute;
    top: 50%;
    left: 7%;
  }
  .louis-card {
    background-position: 50% 60%;
  }
  .louis-card__title {
    position: absolute;
    top: 8.6%;
    left: 10%;
  }
  .louis-card__list {
    position: absolute;
    top: 22%;
    left: 10%;
  }
  .louis-card__button {
    position: absolute;
    top: 46%;
    left: 10%;
  }
  .un-card__title {
    position: absolute;
    top: 11.3%;
    left: 48%;
  }
  .un-card__list {
    position: absolute;
    top: 27%;
    left: 48%;
  }
  .un-card__button {
    position: absolute;
    top: 79.3%;
    left: 18%;
  }
  .sesann-card__title {
    position: absolute;
    top: 46%;
    left: 10%;
  }
  .sesann-card__list {
    position: absolute;
    top: 60%;
    left: 10%;
  }
  .sesann-card__button {
    position: absolute;
    top: 60%;
    left: 60%;
  }
  .alessi-card__title {
    position: absolute;
    top: 26.6%;
    left: 53%;
  }
  .alessi-card__list {
    position: absolute;
    top: 40%;
    left: 53%;
  }
  .alessi-card__button {
    position: absolute;
    top: 60%;
    left: 53%;
  }
  .timeline-card__list {
    position: absolute;
    top: 20%;
    left: 12%;
  }
  .studio-section {
    grid-template-rows: 1fr 1fr 2fr;
    grid-row-gap: 65px;
    grid-column-gap: 15px;
    grid-template-columns: minmax(80px, 1fr) 2fr 2fr;
    grid-template-areas: 'studio staff bellini' 'studio starck patricia' 'article article awards';
    padding: 0;
  }
  .article-card {
    padding: 30px;
  }
  .awards-card {
    padding: 30px;
  }
  .starck-card {
    padding: 10px;
  }
  .bellini-card {
    padding: 10px;
  }
  .patricia-card {
    padding: 0 20px;
  }
}

@media screen and (max-width: 730px) {
  .header-section__content {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .logo {
    grid-column: 1;
    grid-row: 1;
    position: relative;
    left: 7%;
  }
  .chairs-img {
    grid-column: 2;
    grid-row: 1;
  }
  .menu {
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .menu__contacts {
    left: 42%;
  }
}

@media screen and (max-width: 550px) {
  .projects-section {
    grid-template-rows: 2fr 2fr 2fr 2fr 1fr 2fr 1fr 1fr 1fr 2fr;
    grid-template-columns: 1fr;
    grid-template-areas: 'project' 'fondue' 'number' 'louis' 'potter' 'tabano' 'alessi' 'fiji' 'sesann' 'timeline';
  }
  .fiji-card__title {
    position: absolute;
    top: 19.3%;
    left: 68%;
  }
  .fiji-card__list {
    position: absolute;
    top: 34%;
    left: 68%;
  }
  .fiji-card__button {
    position: absolute;
    top: 58.3%;
    left: 68%;
  }
  .studio-section {
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    grid-gap: 10px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 'studio' 'staff' 'awards' 'starck' 'bellini' 'patricia' 'article';
    margin: 0;
    padding: 0;
  }
  .studio-card {
    width: 100%;
    height: 100%;
    display: block;
  }
  .studio-card__title {
    transform: rotate(0deg);
  }
  .article-card {
    margin: 0;
    padding: 0 20px;
  }
  .awards-card {
    margin: 0;
    padding: 0;
  }
  .awards-card__list:nth-child(1) {
    margin: 0;
    padding: 0;
  }
  .staff-card {
    margin: 0;
    padding: 0 20px;
  }
}
