$color-beige: #E9EAE2;
$robotoCR: 'RobotoCondensed-Regular-grid';
$robotoClight: 'RobotoCondensed-Light-grid';
$robotoCIBold: 'RobotoCondensed-BoldItalic-grid';
$robotoCBold: 'RobotoCondensed-Bold-grid';

%pos_absolute-block {
	display: block;
	position: absolute;
}

%zero-indents {
	margin: 0;
	padding: 0;
}

%inclined_line {
	content: '';
	@extend %pos_absolute-block;
	left: 0%;
	bottom: 0%;
	width: 142%;
	height: 0;
	transform-origin: 0 0;
	transform: rotate(-45deg);
	border-top: 1px solid lighten(#fff, 25%);
}

%nav-menu__item {
	@extend %pos_absolute-block;
	padding-top: 32px;
	text-transform: uppercase;
	font-family: $robotoCR;
	font-size: 14px;
	color: #fff;
	background: #f8c255;
	width: 80px;
	height: 80px;
	text-decoration: none;
	opacity: 0;
	visibility: hidden;
	text-align: center;
}

@mixin item-position($top, $left) {
	position: absolute;
	top: $top;
	left: $left;
}