// --- header section 
// ----- logo 
// ----- menu 
// ------- nav menu

@import 'fonts';
@import 'vars';

*,
*::before,
*::after {
	box-sizing: border-box;
}

// --- header section 

.header-section__content {
	display: grid;
	grid-template-columns: 165fr 170fr 80fr minmax(280px, 550fr) 80fr minmax(330px, 465fr);
	background: $color-beige;
}
// ----- logo 

.logo {
	margin-top: 50px;
	width: 100%;
	max-width: 170px;
	padding: 0 6px 0 4px;
	grid-column: 2;

	&__subtitle {
		text-transform: uppercase;
		max-width: 50%;
		margin: 0;
		font-family: $robotoCR;
		color: #393d3c;
		font-size: 18px;
		line-height: 1;
		align-self: center;
	}

	&__image {
		display: block;
		max-width: 160px;
		width: 100%;
		height: auto;
	}

	&__icon {
		display: block;
		width: 26px;
		height: 22px;
		margin: 0;
		padding: 0;
		transition: 0.3s;

		&-facebook {
			background: url(../img/header-section/logo/social-icons/facebook-icon.png) center center no-repeat;
			&:hover {
				transform: translateY(-10%);
			}
		}

		&-twitter {
			background: url(../img/header-section/logo/social-icons/twitter-icon.png) center center no-repeat;
			&:hover {
				transform: translateY(-10%);
			}
		}

		&-linkedin {
			background: url(../img/header-section/logo/social-icons/linkedin-icon.png) center center no-repeat;
			&:hover {
				transform: translateY(-10%);
			}
		}

		&-gplus {
			background: url(../img/header-section/logo/social-icons/gp-icon.png) center center no-repeat;
			&:hover {
				transform: translateY(-10%);
			}
		}
	}



}

.icons-wrapper {
	margin: 63px 0 10px 0;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.chairs-img {
	margin-top: 50px;
	display: block;
	width: 100%;
	height: auto;
	grid-column: 4;
}

// ----- menu 

.menu {
	position: relative;
	display: block;
	width: 100%;
	background: #7acec3 url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%"><line x1="0" y1="100%" x2="100%" y2="0" stroke="#fff" stroke-width="1"/></svg>');
 	 background-size: cover;
	grid-column: 6;

	&__left-item {
		@extend %pos_absolute-block;
		color: #fff;
		bottom: 34%;
		left: 11%;
		max-width: 21%;
		max-height: 30%;
		overflow: hidden;
		text-overflow: ellipsis;
		font-family: $robotoCR;
		color: #fff;
		font-size: 13px;
	}

	&__right-item {
		@extend %pos_absolute-block;
		color: #fff;
		left: 28%;
		top: 75%;
		max-width: 31%;
		max-height: 20%;
		overflow: hidden;
		text-overflow: ellipsis;
		font-family: $robotoCR;
		color: #fff;
		font-size: 13px;
	}

	// &::after {
	// 	@extend %inclined_line;
	// }
}

// ------- nav menu 

.nav-menu {
	@extend %pos_absolute-block;
	cursor: pointer;
	right: 36%;
	top: 10%;
	width: 80px;
	height: 80px;

	&__item-base {
		@extend %pos_absolute-block;
		width: 100%;
		height: 100%;
	}

	&__item-1 {
		@extend %nav-menu__item;
		left: -87%;
		transform: translateX(90%);
		transition: 1s;
		&:hover {
			background-color: darken(#f8c255, 12%);
		}
	}

	&:hover &__item-1 {
		transform: translateX(-11%);
		opacity: 1;
		visibility: visible;
	}

	&__item-2 {
		@extend %nav-menu__item;
		left: -170%;
		transform: translateX(180%);
		transition: 1s;
		&:hover {
			background-color: darken(#f8c255, 12%);
		}
	}

	&:hover &__item-2 {
		transform: translateX(-26%);
		opacity: 1;
		visibility: visible;
	}

	&__item-3 {
		@extend %nav-menu__item;
		left: -255%; //step 75
		transform: translateX(270%); //step 90
		transition: 1s;
		&:hover {
			background-color: darken(#f8c255, 12%);
		}
	}

	&:hover &__item-3 {
		transform: translateX(-39%); //step 13
		opacity: 1;
		visibility: visible;
	}

	&__item-4 {
		@extend %nav-menu__item;
		left: -340%; //step 75
		transform: translateX(360%); //step 90
		transition: 1s;
		&:hover {
			background-color: darken(#f8c255, 12%);
		}
	}

	&:hover &__item-4 {
		transform: translateX(-52%); //step 13
		opacity: 1;
		visibility: visible;
	}

	&__item-5 {
		@extend %nav-menu__item;
		left: -425%; //step 75
		transform: translateX(450%); //step 90
		transition: 1s;
		&:hover {
			background-color: darken(#f8c255, 12%);
		}
	}

	&:hover &__item-5 {
		transform: translateX(-65%); //step 13
		opacity: 1;
		visibility: visible;
	}
}

// projects section

.projects-section {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr 1.3fr;
	grid-template-columns: minmax(230px, 300fr) 165fr 270fr 300fr minmax(300px, 465fr);
	grid-template-areas: 'project project fondue fondue potter'
						 'project project fondue fondue tabano'
						 'louis number number number tabano'
						 'louis number number number fiji'
						 'sesann sesann sesann alessi timeline';
}

// ### card ###

.card {
	min-height: 33vh;
	text-transform: uppercase;
	position: relative;
	font-family: $robotoClight;
	color: #333333;
	font-size: 12px;

	&__title {
		font-size: 24px;
		color: #333333;
		@extend %zero-indents;
	}

	&-list {
		list-style: none;
		@extend %zero-indents;

		&__item {
			@extend %zero-indents;

			&-bold {
				font-weight: bold;
			}

			&-link {
				display: block;
				font-size: 13px;
				text-decoration: none;
				color: #fefefe;
				font-family: $robotoCR;
				transition: transform 0.5s;

				&-first {
					color: #000;
				}

				&:hover {
					transform: scale(1.05, 1.2);
				}
			}
		}
	}

	&__text {
		@extend %zero-indents;
	}

	&__button {
		font-weight: bold;
		display: block;
		text-decoration: none;
		font-size: 18px;
		margin: 0;
		padding: 7px;
		color: #333333;
	}

	&__liked {
		display: block;
	}
}

// ### end card ###

.project-card {
	grid-area: project;
	background: #ebb240 url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%"><line x1="0" y1="100%" x2="100%" y2="0" stroke="#fff" stroke-width="1"/></svg>');
  	background-size: cover;
	font-family: $robotoCR;
	
	&__list {
		@include item-position(32%, 35%);
	}

	&__title {
		position: absolute;
		right: 10%;
		bottom: 33%;
		color: #fefefe;
		font-size: 48px;
		font-weight: normal;
	}
}

.fondue-card {
	grid-area: fondue;
	background: #fefefe url(../img/project-section/fondue.png) no-repeat right center;
	background-size: contain;
	
	&__title {
		@include item-position(18%, 17%);
	}
	&__item-wrapper {
		@include item-position(25%, 17%);
	}

	&__button {
		@include item-position(50%, 23%);
	}
}

.potter-card {
	grid-area: potter;
	background: #dfe0d9 url(../img/project-section/potter.png) no-repeat right center;
	background-size: contain;

	&__title {
		@include item-position(13%, 8%);
	}

	&__text {
		max-width: 34%;
		max-height: 34%;
		display: block;
		overflow: hidden;
		text-overflow: ellipsis;
		@include item-position(28%, 8%);
	}

	&__button {
		@include item-position(58%, 8%);
	}
}

.tabano-card {
	grid-area: tabano;
	background: #f7f7f3 url(../img/project-section/tabano.png) 60% 10% no-repeat;
	background-size: 60%;

	&__title {
		@include item-position(73%, 13%);
	}

	&__list {
		@include item-position(80%, 13%);
	}

	&__button {
		@include item-position(80%, 56%);
	}
}

.louis-card {
	grid-area: louis;
	background: url(../img/project-section/louis.jpg) no-repeat center top;
	background-size: cover;
	color: #fefefe;

	&__title {
		color: #fefefe;
		font-weight: normal;
		@include item-position(8.6%, 10%);
	}

	&__list {
		@include item-position(16.7%, 10%);
	}

	&__button {
		color: #fefefe;
		font-weight: normal;
		@include item-position(34.8%, 10%);
	}
}

.un-card {
	grid-area: number;
	background: #eaeaea url(../img/project-section/number.png) 30% center no-repeat;
	background-size: contain;

	&__title {
		@include item-position(19.3%, 48%);
	}

	&__list {
		@include item-position(27%, 48%);
	}

	&__button {
		@include item-position(19.3%, 28%);
	}
}

.fiji-card {
	grid-area: fiji;
	background: #fff url(../img/project-section/fiji.png) left center no-repeat;
	background-size: contain;

	&__title {
		@include item-position(19.3%, 53%);
	}

	&__list {
		@include item-position(34%, 53%);
	}

	&__button {
		@include item-position(58.3%, 53%);
	}
}

.sesann-card {
	grid-area: sesann;
	background: #fcfcfc url(../img/project-section/sesann.png) center 20% no-repeat;
	background-size: 55%;

	&__title {
		@include item-position(66%, 20%);
	}

	&__list {
		@include item-position(77%, 20%);
	}

	&__button {
		@include item-position(77%, 53%);
	}
}

.alessi-card {
	grid-area: alessi;
	background: url(../img/project-section/alessi.jpg) 0% 50% no-repeat;
	background-size: cover;

	&__title {
		@include item-position(26.6%, 53%);
	}

	&__list {
		@include item-position(40%, 53%);
	}

	&__button {
		@include item-position(60%, 53%);
	}
}

.timeline-card {
	background: #ebb240;
	grid-area: timeline;
	display: block;
	overflow: hidden;

	&__list {
		@include item-position(20%, 12%);
	}

	&::after {
		overflow: hidden;
		@extend %inclined_line;
	}
}

// ------------ studio section

.studio-section {
	display: grid;
	grid-template-rows: minmax(1fr, 465px) 1fr 1fr;
	grid-row-gap: 65px;
	grid-template-columns: minmax(200px, 465fr) 300fr 200fr 100fr 300fr;
	grid-template-areas: 'studio article article awards awards'
						 'staff starck bellini bellini patricia'
						 'staff starck bellini bellini patricia';
	padding: 0 165px 0 0;
	background: #e9eae2;
}

.studio-card {
	grid-area: studio;
	background: #ff9b6d url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%"><line x1="0" y1="100%" x2="100%" y2="0" stroke="#fff" stroke-width="1"/></svg>');
	background-size: cover;
	font-family: $robotoCR;
	color: #333333;

	&__title {
		position: absolute;
		right: 10%;
		bottom: 33%;
		color: #fefefe;
		font-size: 48px;
		font-weight: normal;
		transition: transform 0.7s;
	}
}

.article-card {
	grid-area: article;
	font-size: 18px;
	padding: 95px 30px 70px 22%;

	&__cite-bold {
		font-family: $robotoCIBold;
	}

	&__cite {
		font-family: $robotoClight;
	}
}

.awards-card {
	grid-area: awards;
	padding-top: 95px;
	text-transform: uppercase;

	&__image {
		display: block;
		max-width: 370px;
		width: 100%;
	}

	&__title {
		font-family: $robotoCBold;
		font-size: 14px;
		font-weight: normal;
	}
	
	&__list-wrap {
		display: flex;
	}

	&__list {
		display: block;
		list-style: none;
		padding: 0;
		margin: 0;
		font-family: $robotoCR;
		font-size: 12px;

		&:nth-child(1) {
			margin-right: 30px;
		}
	}
}

.staff-card {
	grid-area: staff;
	padding: 60px 30px 80px 35%;
	font-size: 14px;

	&__title {
		font-family: $robotoCR;
		text-transform: uppercase;
	}

	&__article {
		font-family: $robotoClight;
	}
}

.personal-card {
	display: block;

	&__image {
		display: block;
		max-width: 270px;
		width: 100%;
		height: auto;
	}

	&__name {
		margin-bottom: 1px;
		font-family: $robotoCBold;
		font-size: 13px;
		font-weight: normal;
	}

	&__position {
		margin-top: 1px;
		font-family: $robotoCR;
		font-size: 12px;
	}

	&__socials {
		display: flex;
		max-width: 270px;
		justify-content: flex-end;
		align-items: center;
	}
}

.socials__cv {
	margin-right: auto;
	font-size: 22px;
	color: #fd5000;
	font-family: $robotoCR;
}

.socials-ico {
		display: block;
		width: 14px;
		height: 14px;
		margin-top: 10px;
}

.facebook {
	background: url(../img/studio-section/social-icons/facebook-icon.png) center center no-repeat;
	background-size: contain;
}

.twitter {
	background: url(../img/studio-section/social-icons/twitter-icon.png) center center no-repeat;
	background-size: contain;
	margin-left: 15px;
}

.linkedin {
	background: url(../img/studio-section/social-icons/linkedin-icon.png) center center no-repeat;
	background-size: contain;
	margin-left: 15px;
}

.google-pl {
	background: url(../img/studio-section/social-icons/gp-icon.png) center center no-repeat;
	background-size: contain;
	margin-left: 15px;
}

.starck-card {
	grid-area: starck;
}

.bellini-card {
	grid-area: bellini;
}

.patricia-card {
	grid-area: patricia;
}

// ########## news section

.news-section {
	display: grid;
	grid-row-gap: 65px;
	grid-template-rows: minmax(500px, 1fr);
	grid-template-columns: 465fr 100fr minmax(370px, 370fr) 30fr minmax(370px, 370fr) 130fr;
	background: #e5e9df;
}

.news-card {
	position: relative;
	background: #d4edbf url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%"><line x1="0" y1="100%" x2="100%" y2="0" stroke="#fff" stroke-width="1"/></svg>');
	background-size: cover;
	grid-column: 0;

	&__title {
		position: absolute;
		right: 10%;
		bottom: 33%;
		color: #fefefe;
		font-size: 48px;
		font-weight: normal;
		transition: transform 0.7s;
	}
}

.news-block{
	position: relative;
	font-family: $robotoCR;
	font-size: 12px;
	color: #6a6969;

	&__title {
		position: absolute;
		top: 80px;
		margin: 0;
		font-family: $robotoCBold;
		font-weight: normal;
		font-size: 24px;
		color: #333333;
	}
	&__date {
		position: absolute;
		top: 130px;
		display: block;
		
	}
	&__image {
		position: absolute;
		top: 160px;
		display: block;
		width: 100%;
		max-width: 370px;
		height: auto;
	}
	&__text {
		position: absolute;
		top: 360px;
	}
	&__link {
		position: absolute;
		top: 425px;
		right: 5px;
		display: block;
		text-decoration: none;
		text-transform: uppercase;
		color: #fd5000;
		
	}
}

.first-news {
	grid-column: 3;
}

.last-news {
	grid-column: 5;
}

// --- footer ---

.footer {
	display: flex;
	align-items: stretch;
	align-content: stretch;
	background: #e9eae2;
}

.map {
	flex-basis: 50%;

	&__iframe {
		width: 100%;
		height: 100%;
	}
}

.footer-section {
	position: relative;
	flex-basis: 50%;
	display: flex;

	&__adress {
		@include item-position(150px, 15%);
		width: 100%;
		max-width: 150px;
		color: #333333;
		font-family: $robotoCR;
		font-size: 13px;
	}

	&__contacts {
		@include item-position(230px, 15%);
		width: 100%;
		max-width: 150px;
		color: #333333;
		font-family: $robotoCR;
		font-size: 13px;
	}

	&__logo {
		position: relative;
		left: 55%;
		margin-top: 150px;
		margin-bottom: 145px;
	}

	&__copyright {
		@include item-position(90%, 17%);
		color: #191919;
		font-family: $robotoCR;
		font-size: 12px;
	}
}



@import 'media';
